<style>
    .modal-content iframe{
        margin: 0 auto;
        display: block;
    }
</style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">

                <!-- 
                    <iframe id="cartoonVideo"  width="800" height="560" 
 
                    src="https://www.youtube.com/embed/-AjgHs66V70" 
                    
                    title="YouTube video player" rameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                -->

                <iframe id="cartoonVideo"  width="800" height="560" 
 
                src="{{video_url}}" 
                
                title="YouTube video player" rameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            </div>
        </div>
    </div>

 
<script>
var is_running=false;
$(document).ready(function(){

    page_not_loading();
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#cartoonVideo").attr('src');
    
    {% if video_modal_title_text is not none %}

    $("#video_modal_title_text").html("{{video_modal_title_text}}")

    {% endif %}

    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#videomodal").on('hide.bs.modal', function(){

        var memory = $(this).html(); $(this).html(memory);

    });
});
</script>

</script>        

