 .u-section-1 {
  background-image: none;
  min-height: 561px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 367px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 367px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 80px 30px 30px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -134px auto -400px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 269px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 1px;
}

.u-section-1 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px 30px 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 15px 1px 0 13px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 1px;
}

.u-section-1 .u-icon-2 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px 30px 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 15px 1px 0 13px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 1px;
}

.u-section-1 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px 30px 0;
}

.u-section-1 .u-text-8 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 15px 1px 0 13px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 1px;
}

.u-section-1 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px 30px 0;
}

.u-section-1 .u-text-10 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: normal;
  margin: 15px 1px 0 13px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 550px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -79px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 266px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 23px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 23px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 23px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 23px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 692px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 20px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-bottom: -277px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 479px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1273px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-bottom: -217px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1267px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: -118px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }
}